#headline {
	display: block;
    font-size: 2em;
	text-align: center;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.text {
    color: #666;
	font-size: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
	text-align: center;
}

h2 {
    color: #121212 ;
	margin-top: 20px;
	text-align: center;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
}

h4 {
	font-size: 1em;
	font-weight: bold;
}

/*
#rb1{
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	line-height: 36px;
	cursor: pointer;
}
#rb2{
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	line-height: 36px;
	cursor: pointer;
}
#rb3{
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	line-height: 36px;
	cursor: pointer;
}
#rb4{
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	line-height: 36px;
	cursor: pointer;
}
#rb5{
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	line-height: 36px;
	cursor: pointer;
}
*/
.rb{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 10px;
    line-height: 36px;
    cursor: pointer;
}

path:hover{
	stroke-opacity: .5;
}

rect:hover{
	fill-opacity:1;
}

/***************************/
#Radios {	
	text-align:left;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
    color: #666;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #666;
  border-radius: 4px;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #fff;
}
input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #666;
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/*********************************************/
#footer {
      background-color: #303030;
      color: white;
    }
/*********************************************/

.panel-default{
	background: none;
}

.panel-default2{
	background: #666;
	color: #fff
}

/*********************************************/

.svg-container{
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 50%;*/
    vertical-align: middle;
    overflow: hidden;
}

.svg-content{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

/*********************************************/

.box {
    /*float: left;
    width: 33%;
    /*margin-right: 2%;*/
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 0%;
    box-sizing: border-box;
    text-align: center;
}

/*********************************************/

.licence{
    float: left;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

/*********************************************/

.list{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

/*********************************************/

footer a:link {
    text-decoration: none;
    color: #0074c4;
}

footer a:visited{
    text-decoration: none;
    color: #0074c4;
}

footer a:hover{
    text-decoration: none;
    color: #ffffff;
}

footer a:active{
    text-decoration: none;
    color: rgba(200, 200, 200,1);
    border: 3px solid #0074c4;
}

/*********************************************/
/*Bootstrap*/
/*********************************************/

.row.content {height: 900px;}

/*********************************************/

.my-legend .legend-title {
    content: " ";
    position: relative;
    top: 6px;
    left: 0;
    display: block;
    width: 240px;
    height: 28px;
    border: 2px solid #666;
    border-radius: 10px;
    background: #666;
    z-index: -1;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.my-legend .legend-scale ul li {
    color: #666;
    font-size: 100%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-top: 5px;
}
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    border-radius: 10px;
}

.my-legend .legend-scale{
    margin: 0px 25px;
}

.headline2 {
    content: " ";
    position: relative;
    top: 6px;
    left: 0;
    display: block;
    width: 240px;
    height: 28px;
    border: 2px solid #666;
    border-radius: 10px;
    background: #666;
    z-index: -1;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/*********************************************/
#filterWrap{
    max-height: 475px;
    overflow-y: scroll;
}
/*********************************************/
header{
    overflow: hidden;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li{
    display: inline;
    float: left;
    padding-right: 3px;
}

header ul li a{
    display: block;
    padding: 8px;
}

header ul li a:link{
    text-decoration: none;
    color: #666;
}

header ul li a:visited{
    text-decoration: none;
    color: #666;
}

header ul li a:hover{
    text-decoration: none;
    color: #000;
    background-color: #eee;
}

header ul li a:active{
    text-decoration: none;
    background-color: #eee;
}

header img{
    height: 128px;
    width: 166px;
}

header .active{
    text-decoration: none;
    background-color: #eee;
    color: #000;
}

header .imglink{
    float: right;
}

/*********************************************/